
<!DOCTYPE html>
<html>
<head>
	<title>IG</title>
</head>
<body>
<h1>Italian Greyhound</h1>
<p>About</p>
<h1>My website</h1>
<p>The Italian Greyhound is the smallest[2] of the sighthounds, typically weighing about 8 to 15 lb (3.6 to 6.8 kg) and standing about 13 to 15 inches (33 to 38 cm) tall at the shoulder.[3] They are in the toy group in the UK and US but in the sighthound group in the Fédération Cynologique Internationale (FCI).

The Italian Greyhound's chest is deep, with a tucked up abdomen, long slender legs and a long neck that tapers down to a small head. The head is long and pointed, like a full sized greyhound. Overall, they look like "miniature" Greyhounds. Though many Italian Greyhound owners dispute the use of the term "miniature Greyhound" in reference to the breed itself, by definition of the American Kennel Club[4] they are true genetic greyhounds, with a bloodline extending back over 2,000 years. Their current small stature is a function of selective breeding. Their gait is distinctive and should be high stepping and free, rather like that of a horse. They are able to run at top speed with a double suspension gallop,[5] and can achieve a top speed of up to 25 miles per hour (40 km/h).</p>
<img src="https://www.dogbreedinfo.com/images17/ItalianGreyhoundNala8Months.jpg">
<p>Recognised coat colours in the UK are Black, Blue (grey), Red and Fawn. For The Kennel Club (UK), all colours except brindle are accepted. For the American Kennel Club, and the Australian National Kennel Council, parti colored Italian Greyhounds are accepted, while the FCI standard for international shows allows white only on the chest and feet. Coat colours of Black, Blue and Isabelle (Fawn) exist in all nuances.[6]

The modern Italian Greyhound's appearance is a result of breeders throughout Europe, particularly Austrian, German, Italian, French and British, making great contributions to the forming of this breed. The Italian Greyhound should resemble a small Greyhound, or rather a Sloughi.</p>

<img src="http://cdn3-www.dogtime.com/assets/uploads/gallery/italian-greyhound-dog-breed-pictures/2-onelegup.jpg">
</body>
</html>