

<!DOCTYPE html>
<html>
<head>
	<title>IG</title>
	
</head>
<body>
<h1>Shop</h1>


<p>Product 1</p>
<h2>The Italian Greyhound Clothing Line
A FULL LINE OF ITALIAN GREYHOUND CLOTHES!
ITALIAN GREYHOUNDS are thin, WITH deep chests, long legs, and very high tucks. They need a unique shape of clothing to be warm and look good.
Houndz in the Hood makes BODYSUITS, JAMMIES, ROMPERS, SWEATERS, LIGHT SHIRTS, SWEATSHIRTS ALL CUT TO </h2>

<img src="http://cdn3.volusion.com/cyqhx.hbpev/v/vspfiles/photos/GS00106DG-1.jpg?1420926413">


<img src="http://duds4buds.com/wp-content/uploads/Lumber-Jacks-3.jpg">
</body>
</html>
